<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874856797009-ep3f4ska48boho0f1f03gm8lnpno2v8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874856797009-ep3f4ska48boho0f1f03gm8lnpno2v8a</string>
	<key>API_KEY</key>
	<string>AIzaSyB1g7LfR9NLGesvkkGF6vDChYxGtGxkdEs</string>
	<key>GCM_SENDER_ID</key>
	<string>874856797009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.eerdenet.myapp</string>
	<key>PROJECT_ID</key>
	<string>eerdenet1-b42d3</string>
	<key>STORAGE_BUCKET</key>
	<string>eerdenet1-b42d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874856797009:ios:7d97d1b7a4516e2adef970</string>
</dict>
</plist>